.itemDetailsRoot {
    padding: 16px;
    align-content: center;
}

div.itemDetailsImage {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    border-radius: 40px;
    border-color: #282c34;
    border-style: solid;
    border-width: 4px;
}

div.itemDetailsImage img {
    flex-shrink: 0;
    max-width: 70%;
    max-height: 90%;
}

.itemMainInfoContent {
    display: table;
    width: auto;
}

.itemMainInfoContentItem {
    display: table-cell;
    vertical-align: middle;
}